@page "/Projects"
@using MediatR
@using MudBlazor
@using Oprim.Application.Common.Utilities
@using Oprim.Application.Patterns.Quality.PunchItems.Queries.GetPunches
@using Oprim.Domain.Entities.Quality
@using Oprim.Ui.Components.Shared.Dialogs

@using Oprim.Application.Interfaces
@using Oprim.Application.Patterns.PMO.Projects.Queries.GetProjects
@using Oprim.Domain.Entities.PMO
@using Oprim.Ui.Components.Shared.Dialogs.Projects

@rendermode InteractiveServer

<HeadContent>
    <style>
        .mud-input > input.mud-input-root-outlined, div.mud-input-slot.mud-input-root-outlined {
            padding: 10.5px 14px !important;
        }

        .mud-table-pagination {
            display: flex;
            justify-content: center;
        }

        .mud-table-pagination-toolbar {
            border-top: none;
        }

        .mud-dialog .mud-dialog-content {
            padding: 10px !important;
        }

        .mud-dialog .mud-dialog-title {
            padding: 5px 15px !important;
        }
    </style>
</HeadContent>
<MudThemeProvider/>
<MudPopoverProvider/>
<MudDialogProvider/>
<MudContainer MaxWidth="MaxWidth.ExtraLarge" Class="mt-6">
    <MudPaper Elevation="1" Class="rounded-2xl" Style="box-shadow: none">

        <MudTable Items="@_items"
                  Hover="true"
                  Dense="true"
                  Filter="new Func<Project,bool>(FilterFunc1)"
                  @bind-SelectedItem="selectedItem1"
                  Class="w-100"
                  Loading="@_loading">

            <LoadingContent>
                <div class="d-flex flex-column align-items-center justify-content-center p-5">
                    <MudProgressCircular Color="Color.Primary" Indeterminate="true" Size="Size.Medium"/>
                    <MudText Typo="Typo.subtitle1" Class="mt-2 text-center text-secondary">
                        در حال بارگذاری داده‌ها...
                    </MudText>
                </div>
            </LoadingContent>

            <ToolBarContent>
                <div>
                    <MudTextField @bind-Value="searchString1"
                                  Placeholder="جستجو..."
                                  Adornment="Adornment.Start"
                                  AdornmentIcon="@Icons.Material.Filled.Search"
                                  Class="mx-2"
                                  Variant="Variant.Outlined"/>
                </div>

                <MudButton Color="Color.Primary"
                           StartIcon="@Icons.Material.Filled.Add"
                           Variant="Variant.Filled"
                           Class="rounded-lg"
                           OnClick="CreateItem">
                    افزودن
                </MudButton>
                <MudSpacer/>
                <MudText Typo="Typo.h6" Class="font-weight-bold">Punch Items</MudText>
            </ToolBarContent>

            <HeaderContent>
                <MudTh Class="th-mud-table">کد پروژه</MudTh>
                <MudTh Class="th-mud-table">شماره قرارداد</MudTh>
                <MudTh Class="th-mud-table">نام پروژه</MudTh>
                <MudTh Class="th-mud-table">کارفرما</MudTh>
                <MudTh Class="th-mud-table">پیمانکار</MudTh>
                <MudTh Class="th-mud-table">تاریخ قرارداد</MudTh>
                <MudTh Class="th-mud-table">تاریخ شروع</MudTh>
                <MudTh Class="th-mud-table">تاریخ پایان</MudTh>
                <MudTh Class="th-mud-table">مبلغ پایه</MudTh>
                <MudTh Class="th-mud-table">نوع طرح</MudTh>
                <MudTh Class="th-mud-table">عملیات</MudTh>
            </HeaderContent>

            <RowTemplate>
                <MudTd Class="td-mud-table" DataLabel="کد پروژه">@context.Code</MudTd>
                <MudTd Class="td-mud-table" DataLabel="شماره قرارداد">@context.No</MudTd>
                <MudTd Class="td-mud-table" DataLabel="نام پروژه">@context.Name</MudTd>
                <MudTd Class="td-mud-table" DataLabel="کارفرما">@context.ClientName</MudTd>
                <MudTd Class="td-mud-table" DataLabel="پیمانکار">@context.ContractorName</MudTd>
                <MudTd Class="td-mud-table" DataLabel="تاریخ قرارداد">@context.ContractPersianDate</MudTd>
                <MudTd Class="td-mud-table" DataLabel="تاریخ شروع">@context.StartPersianDate</MudTd>
                <MudTd Class="td-mud-table" DataLabel="تاریخ پایان">@context.FinishPersianDate</MudTd>
                <MudTd Class="td-mud-table" DataLabel="مبلغ پایه">@context.BaseAmount.ToString("N0")</MudTd>
                <MudTd Class="td-mud-table" DataLabel="نوع طرح">@context.PlanType</MudTd>
                <MudTd Class="td-mud-table text-nowrap" DataLabel="عملیات" >
                    <MudIconButton Icon="@Icons.Material.Filled.Edit"
                                   Color="Color.Info"
                                   OnClick="@(() => EditItem(context))"/>
                    <MudIconButton Icon="@Icons.Material.Filled.Delete"
                                   Color="Color.Error"/>
                </MudTd>
            </RowTemplate>


            <NoRecordsContent>
                <MudText Class="text-right pr-4 my-3" Typo="Typo.body1" Color="Color.Secondary">
                    آیتمی ثبت نشده است.
                </MudText>
            </NoRecordsContent>

            <PagerContent>
                <div class="d-flex flex-column align-center pb-2">
                    <MudPagination ShowFirstButton="false"
                                   Selected="_filter.Page"
                                   ShowLastButton="false"
                                   Count="_filter.TotalPage"
                                   SelectedChanged="OnPageChanged" Class="mt-4"/>
                </div>
            </PagerContent>
        </MudTable>
    </MudPaper>
</MudContainer>